
.rgthree-dialog {
  outline: 0;
  border: 0;
  border-radius: 6px;
  background: #414141;
  color: #fff;
  box-shadow:
    inset 1px 1px 0px rgba(255, 255, 255, 0.05),
    inset -1px -1px 0px rgba(0, 0, 0, 0.5),
    2px 2px 20px rgb(0, 0, 0);
  max-width: 800px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 0;
  max-height: calc(100% - 32px);

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

.rgthree-dialog-container {
  // padding: 16px;
  > * {
    padding: 8px 16px;

    &:first-child {
      padding-top: 16px;
    }
    &:last-child {
      padding-bottom: 16px;
    }
  }
}

.rgthree-dialog.-iconed::after {
  content: "";
  font-size: 276px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  opacity: 0.15;
  display: block;
  width: 237px;
  overflow: hidden;
  height: 186px;
  line-height: 1;
  pointer-events: none;
  z-index: -1;
}
.rgthree-dialog.-iconed.-help::after {
  content: "🛟";
}
.rgthree-dialog.-iconed.-settings::after {
  content: "⚙️";
}

@media (max-width: 832px) {
  .rgthree-dialog {
    max-width: calc(100% - 32px);
  }
}

.rgthree-dialog-container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.rgthree-dialog-container-title > svg:first-child {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.rgthree-dialog-container-title h2 {
  font-size: calc(22rem / 16);
  margin: 0;
  font-weight: bold;
}

.rgthree-dialog-container-title h2 small {
  font-size: calc(13rem / 16);
  font-weight: normal;
  opacity: 0.75;
}

.rgthree-dialog-container-content {
  overflow: auto;
  max-height: calc(100vh - 200px); /* Arbitrary height to copensate for margin, title, and footer.*/
}
.rgthree-dialog-container-content p {
  font-size: calc(13rem / 16);
  margin-top: 0;
}

.rgthree-dialog-container-content ul li p {
  margin-bottom: 4px;
}

.rgthree-dialog-container-content ul li p + p {
  margin-top: 0.5em;
}

.rgthree-dialog-container-content ul li ul {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.rgthree-dialog-container-content p code {
  display: inline-block;
  padding: 2px 4px;
  margin: 0px 2px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}

.rgthree-dialog-container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.rgthree-dialog-open > *:not(.rgthree-dialog):not(.rgthree-top-messages-container) {
  filter: blur(5px);
}


.rgthree-info-dialog {

  min-width: 600px;

  .rgthree-info-tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    > li {
      display: inline-flex;
      margin: 0;
      vertical-align: top;

      + li {
        margin-left: 6px;
      }
      &:not(.-link) + li.-link {
        margin-left: auto;
      }

      > * {
        border-radius: 4px;
        line-height: 1;
        color: rgba(255,255,255,0.85);
        background: rgb(69, 92, 85);;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        height: 1.6em;
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .1em;
        align-content: center;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 0px 0 1px  rgba(0, 0, 0, 0.5);

        > svg {
          width: 16px;
          height: 16px;

          &:first-child {
            margin-right: .3em;
            display: none;
          }
          &:last-child {
            margin-left: .5em;
            fill: currentColor;
          }
        }


        &[href] {
          box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), inset 0px -1px 0px rgba(0,0,0,0.66);
        }

        &:empty {
          display: none;
        }
      }

      &.-civitai > * {
        color: #ddd;
        background: #1b65aa;
        transition: all 0.15s ease-in-out;
        &:hover {
          color: #fff;
          border-color: #1971c2;
          background: #1971c2;
        }
      }
      &.-type > * {
        background: rgb(73, 54, 94);
        color: rgb(228, 209, 248);
      }
    }
  }

  .rgthree-info-table {
    border-collapse: collapse;
    margin: 16px 0px;
    width: 100%;
    font-size: 12px;

    tr.editable button {
      display: flex;
      width: 28px;
      height: 28px;
      align-items: center;
      justify-content: center;

      svg + svg {display: none;}
    }
    tr.editable.-rgthree-editing button {
      svg {display: none;}
      svg + svg {display: inline-block;}
    }

    td {
      position: relative;
      border: 1px solid rgba(255,255,255,0.25);
      padding: 0;

      &:first-child {
        background: rgba(255,255,255,0.075);
        width: 10px; // Small, so it doesn't adjust.
        > *:first-child {
          white-space: nowrap;
          padding-right: 32px;
        }
      }

      a, a:hover, a:visited {
        color: inherit;
      }

      ul {
        margin: .5em 0;
        padding: 0 0 0 1em;
      }

      svg {
        width: 1.3333em;
        height: 1.3333em;
        vertical-align: -0.285em;

        &.logo-civitai {
          margin-right: 0.3333em;
        }
      }

      > *:first-child {
        display: block;
        padding: 6px 10px;
      }
      > input, > textarea{
        padding: 5px 10px;
        border: 0;
        box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.5);
        font: inherit;
        appearance: none;
        background: #fff;
        color: #121212;
        resize: vertical;

        &:only-child {
          width: 100%;
        }
      }
    }

    tr[data-field-name="userNote"] td > span:first-child {
      white-space: pre;
    }

    tr.rgthree-info-table-break-row td {
      border: 0;
      background: transparent;
      padding: 12px 4px 4px;
      font-size: 1.2em;

      > small {
        font-style: italic;
        opacity: 0.66;
      }

      &:empty {
        padding: 4px;
      }
    }

    td .-help {
      border: 1px solid currentColor;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -7px;
      line-height: 1;
      font-size: 11px;
      width: 12px;
      height: 12px;
      border-radius: 8px;
      display: flex;
      align-content: center;
      justify-content: center;
      cursor: help;
      &::before {
        content: '?';
      }

    }
  }

  .rgthree-info-images {
    list-style:none;
    padding:0;
    margin:0;
    scroll-snap-type: x mandatory;
    display:flex;
    flex-direction:row;
    overflow: auto;

    > li {
      scroll-snap-align: start;
      max-width: 90%;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      padding: 8px;

      .rgthree-info-table {
        width: calc(100% - 16px);
      }
    }
  }

  .rgthree-info-civitai-link {
    margin: 8px;
    color: #eee;

    a, a:hover, a:visited {
      color: inherit;
      text-decoration: none;
    }

    > svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}



.rgthree-lora-chooser-dialog {
  max-width: 100%;


  .rgthree-dialog-container-title {
    display: flex;
    flex-direction: column;
  }
  .rgthree-dialog-container-title h2 {
    display: flex;
    width: 100%;
  }
  .rgthree-lora-chooser-search {
    margin-left: auto;
    border-radius: 50px;
    width: 50%;
    max-width: 170px;
    padding: 2px 8px;
  }

  .rgthree-lora-chooser-header {
    display: flex;
    flex-direction: row;
  }

  .rgthree-lora-filters-container {
    svg {width: 16px; height: 16px;}
  }

  .rgthree-dialog-container-content {
    width: 80vw;
    height: 80vh;
  }

  .rgthree-button-reset {
    width: 32px;
    height: 32px;
    > svg {width: 100%; height: 100%;}

  }

  ul.rgthree-lora-chooser-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;

    > li {
      position: relative;
      flex: 0 0 auto;
      width: 170px;
      max-width: 100%;
      margin: 8px 8px 16px;

      label {
        position: absolute;
        display: block;
        inset: 0;
        z-index: 3;
        cursor: pointer;
      }
      input[type="checkbox"] {
        position: absolute;
        right: 8px;
        top: 8px;
        margin: 0;
        z-index: 2;
        appearance: none;
        background-color: #fff;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid rgba(120,120,120,1);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        &:checked {
          opacity: 1;
          background: #0060df;
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: inset 100px 100px #fff;
            clip-path: polygon(40.13% 68.39%, 23.05% 51.31%, 17.83% 48.26%, 12.61% 49.57%, 9.57% 53.04%, 8% 60%, 34.13% 85.87%, 39.82% 89.57%, 45.88% 86.73%, 90.66% 32.39%, 88.92% 26.1%, 83.03% 22.17%, 76.94% 22.62%)
          }
        }
      }


      figure {
        position: relative;
        display: block;
        margin: 0 0 8px;
        padding: 0;
        border: 1px solid rgba(120, 120, 120, .8);
        background: rgba(120, 120, 120, .5);
        width: 100%;
        padding-top: 120%;
        transition: box-shadow 0.15s ease-in-out;
        opacity: 0.75;
        &::after {
          content: '';
          display: block;
          position: absolute;
          inset: 0;
        }

        &:empty {
          &::before {
            content: 'No image.';
            color: rgba(200, 200, 200, .8);
            position: absolute;
            display: block;
            inset: 0;
            font-size: 1.2em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        > img, > video {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      div {
        word-wrap: break-word;
        font-size: 0.8rem;
        opacity: 0.75;
      }

      &:hover figure::after{
        box-shadow: 0px 2px 6px rgba(0,0,0,0.75);
      }
      :checked ~ figure::after {
        box-shadow: 0 0 5px #fff, 0px 0px 15px rgba(49, 131, 255, 0.88), inset 0 0 3px #fff, inset 0px 0px 5px rgba(49, 131, 255, 0.88)
      }

      &:hover *,
      &:hover input[type="checkbox"],
      :checked ~ * {
        opacity: 1
      }

    }
  }
}